@if(Context.Request.Cookies["CookieConsent"] == null)
{
  <div id="cookie-consent" class="alert alert-gray">
      <div class="container">
          <span>This page is using cookies to improve the user experience.</span>
          <button class="btn btn-theme" onclick="acceptCookieConsent()">OK</button>
      </div>
  </div>
  
  <script>
        function acceptCookieConsent() {
            document.getElementById('cookie-consent').style.display = 'none'
          
            fetch('@Url.Action("CookieConsent", "SiteSettings")', {
            method: 'post',
            headers: {
                'x-Requested-With': 'XMLHttpRequest'
            }
        })
      }
  </script>
}
