$black: #000000;
$dark-background: #1b1b1b;
$dark-text: #ffffff;

html, body {
    font-size: 16px;

    .dark-mode {
        background-color: var(--color-black);
        border-color: var(--color-gray-100);

        h1, h2, h3, h4, h5, h6, p {
            color: var(--color-gray-000);
        }

        .benefits, .downloadApp, .subscribe, .managework {
            background-color: var(--color-black);
            color: var(--color-gray-000);
        }

        header {
            background-color: var(--color-black);
            color: var(--color-gray-000);

            label {
                color: var(--color-gray-000);
            }

            #menu {
                background-color: var(--color-black);
                color: var(--color-gray-000);

                .menu-link {
                    color: $dark-text !important;
                }
            }

            .mobile-menu-btn {
                color: var(--color-gray-000)
            }
        }
    }

    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
    }

}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}