$black: #000000;
$dark-background: #1b1b1b;
$dark-text: #ffffff;

html, body {
    font-size: 16px;
    background-color: var(--color-gray-000);
    color: var(--color-gray-800);

    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
    }

    .alert-gray {
        background-color: var(--color-gray-200);
        color: var(--color-gray-800);
    }

    #cookie-consent {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}