.accountSecurity {

    .container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        @media(min-width: 992px) {
            justify-content: left;
            flex-direction: row;
        }

        .profileInfo {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;

            @media(min-width: 768px) {
                flex-direction: column;
                justify-content: left;
            }

            @media(min-width: 992px) {
                width: 300px;
                margin-right: 200px;
                border-right: 1px solid gray;
            }

            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;


                a {
                    margin: 5px;
                    padding: 5px;
                    justify-content: left;
                }

                @media(min-width: 768px) {
                    flex-direction: row;
                    text-align: center;
                }

                @media(min-width: 992px) {
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        text-align: left;
                        width: 200px;
                    }
                }
            }

            .userInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .image-container {
                    position: relative;
                    width: 100px;
                    height: 100px;

                    img {
                        border-radius: 50px;
                        width: 100px;
                        height: 100px;
                    }

                    .btn {
                        position: absolute;
                        bottom: 0;
                        right: -15px;

                        i {
                            border: 1px solid var(--color-gray-300);
                            border-radius: 25px;
                            padding: 5px;
                            background-color: var(--color-gray-000);
                            color: var(--color-gray-800);
                        }
                    }
                }
            }

            a {
                margin-bottom: 20px;

                i {
                    margin-right: 5px;
                }
            }
        }

        .securityMain {

            .passwordInfo {
                margin-bottom: 25px;
                padding-bottom: 50px;
                border-bottom: 1px solid gray;

                h5 {
                    color: var(--color-theme);
                }

                form {
                    width: 100%;
                    display: grid;
                    gap: 10px;
                    grid-template-areas: "currentPassword currentPassword" "newPassword confirmNewPassword" "btns btns";


                    .accountFormBox {
                        margin-top: 5px;
                        margin-bottom: 5px;

                        input, textarea {
                            width: 100%;
                        }
                    }

                    #currentPassword {
                        grid-area: currentPassword;
                        margin-right: 5px;
                    }

                    #newPassword {
                        grid-area: newPassword;
                    }

                    #confirmNewPassword {
                        grid-area: confirmNewPassword;
                        margin-right: 5px;
                    }

                    .form-btn {
                        grid-area: btns;
                        display: flex;
                        margin-top: 25px;
                        justify-content: center;
                        align-items: center;

                        @media(min-width: 768px) {
                            justify-content: left;
                            align-items: flex-start;
                        }



                        .btn-gray, .btn-theme {
                            padding: 0;
                            margin: 5px;
                            width: 150px;
                            height: 50px;
                        }
                    }
                }
            }

            .deleteAccount {
                display: flex;
                flex-direction: column;

                h5 {
                    color: var(--color-theme);
                }

                .del-checkbox {
                    align-items: center;
                }

                .btn-theme {
                    width: 100px;
                    background-color: red;
                    margin-top: 20px;
                }
            }
        }
    }
}
