.courseDescription-showcase {

    background-color: $gray-300;

    .courseDescription-image {

        img {

            display: none;

            @include xl {
                display: flex;
                position: relative;
                z-index: 1;
                width: 100%;
            }

        }
    }

    .container {

        .courseDescription-showcase-content {

            @include xl {
                position: absolute;
                z-index: 2;
            }
            .courseDescription-showcase-top {
                color: black;
                margin-top: 50px;
                margin-bottom: 50px;

                @include xl {
                    color: white;
                }

                i {
                    margin-right: 10px;
                    margin-left: 10px;
                }

                a {
                    @include xl {
                        color: white;
                    }
                    color: black;
                }
            }

            .courseDescription-showcase-top-text {
                display: flex;

                p {
                    padding: 5px;
                }
                .best-seller {
                    background-color: #22C55E;
                    margin-right: 10px;
                    border-radius: 5px;
                }

                .digital {
                    background-color: white;
                    color: black;
                    border-radius: 5px;
                }
            }

            h1, p {

                color: black;

                @include xl {
                    color: white;
                }               
            }
            .courseDescription-showcase-rating {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .rating {
                    display: flex;
                    flex-direction: row;

                    i {
                        margin-right: 5px;
                    }
    
                    p {
                        margin-right: 20px;
                    }
                }


                .creator-info {
                    display: flex;
                    align-items: center;
                    
                    p {
                        margin-bottom: 5px;
                    }
    
                    .creator-text {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

}