.readyTo-section {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-gray-100);
        margin-top: 90px;

        .readyTo-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 10%;

            button {
                margin-top: 20px;
            }

            @media(min-width: 992px) {
                text-align: left;
            }
        }

        img {
            display: none;
            width: 100%;

            @media(min-width: 992px) {
                display: block;
            }
        }
    }
}
