.subscribe {
    background-color: $gray-100;
    padding-top: 90px;
    padding-bottom: 90px;

    .container {
        text-align: center;

        .signup-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 30px;

            @include md {
                flex-direction: row;
            }

            h5 {

                @include md {
                    margin-right: 50px;
                    width: 150px;
                }          
            }

            .checkbox-content {
                display: grid;
                justify-content: center;
                grid-template-columns: auto;
                grid-template-areas:"ch-b1" 
                                    "ch-b2"
                                    "ch-b3" 
                                    "ch-b4"                                       
                                    "ch-b5" 
                                    "ch-b6";

                @include md {
                    grid-template-columns: auto auto auto;
                    grid-template-areas:"ch-b1 ch-b2 ch-b3"
                                        "ch-b4 ch-b5 ch-b6";
                }

                
                #ch-b {                 
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    @include md {
                        margin-right: 20px;
                    }
                                                     
                    label {
                        margin-left: 5px;
                    }
                }

                .ch-b1 {grid-area: ch-b1;}
                .ch-b2 {grid-area: ch-b2;}
                .ch-b3 {grid-area: ch-b3;}
                .ch-b4 {grid-area: ch-b4;}
                .ch-b5 {grid-area: ch-b5;}
                .ch-b6 {grid-area: ch-b6;}
            }
        }

        .section-title {
            display: flex; 
            justify-content: center;
            margin-bottom: 20px; 
            
            h1 {
                margin-right: 20px;
            }

            img {
                display: none;

                @include md {
                    display: block;
                }
            }
        }

        .signup-email {
            display: flex;
            flex-direction: column;         
            justify-content: center;

            @include md {
                flex-direction: row;
            }
            input {
                padding-right: 25%;
                margin-bottom: 10px;
                
                @include md {
                    margin-right: 10px;
                }
                
                
            }
        }
                    
        p {
            margin-top: 5px;

            @include md {
                padding-right: 25%;
            }             
         }
    }
}