main { 
    .showcase {
        .container{
            margin-top: 30px;
            margin-bottom: 20px;
            justify-content: center;
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: "showcase-content";

            @include xl {
                justify-content: start;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "showcase-content showcase-image"
                                    "showcase-content showcase-image";
            }
   
            .content {
                grid-area: showcase-content;
                padding-top: 50px;
                text-align: center;


                @include xl {
                    text-align: left;
                    width: 400px;
                    margin-left: 100px;
                }

                h1 {
                    padding-bottom: 20px;
                }

                .btn-theme-s {
                    margin-top: 30px;
                    margin-bottom: 100px;
                    
                    @include xl{
                        width: 200px;
                    }
                }
                
                 h6 {
                    display: none;

                    @include xl {
                        display: block;
                    }
                 }

                .brands {
                    display: none;
                    
                    @include xl {
                        display: block;
                        margin-top: 20px;
                        margin-bottom: 100px;
                        width: 500px;
                    }
                }
            }

            .background-image {
                grid-area: showcase-image;
                display: none;

                @include xl {
                    display: block;
                    max-width: 600px;
                }

                @include xxl {
                    max-width: 800px;          
                }
            }
        }
    }
}