.readyTo-section {

    .container {
        display: flex;
        justify-content: space-between;
        background-color: $gray-100;
        margin-top: 90px;

        .readyTo-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align:center;
            padding: 10%;

            button {
                margin-top: 20px;
            }

            @include lg {
                text-align: left;
            }
        }

        img {
            display: none;
            width: 100%;

            @include lg {
                display: block;
            }
        }
    }
}