@inject SignInManager<UserEntity> _signInManager;

@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index">
            <img id="logo-mode" src="~/Images/@(isDark ? "darkmode-logo.svg" : "SiliconLogotypeLightMode.svg")" alt="silicon logo">
        </a>
        <div id="menu">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Account" asp-action="Details">Overview</a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Courses">Courses</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>

                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                }

            </nav>
        </div>

        <div class="btn-switch">
            <label class="lightlabel">Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" checked="@isDark"/>
                <div class="slider round"></div>
            </label>
            <label class="darklabel">Dark</label>
        </div>

        <div class="account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignOut">Sign out<i class="fa-solid fa-right-to-bracket"></i></a>
            }
            else
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn">Sign in<i class="fa-solid fa-right-to-bracket"></i></a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp">Sign up<i class="fa-solid fa-user-plus"></i></a>
            }
        </div>

        @if (_signInManager.IsSignedIn(User))
        {
            <div class="profile-img">
                <a asp-controller="Account" asp-action="Details"><img id="" src="~/Images/profile-header.svg" alt=""></a>
            </div>

            <button class="mobile-menu-btn"><i class="fa-solid fa-bars"></i></button>
            <div class="mobile-menu">
                <nav>
                    <a class="btn-gray" asp-controller="Account" asp-action="Details">Overview</a>
                    <a class="btn-gray" asp-controller="Courses" asp-action="Courses">Courses</a>
                    <a class="btn-gray" asp-controller="Contact" asp-action="Index">Contact</a>
                </nav>
            </div>
        }
        else
        {
            <button class="mobile-menu-btn"><i class="fa-solid fa-bars"></i></button>
            <div class="mobile-menu">
                <nav>
                    <a class="btn-gray" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Showcase</a>
                    <a class="btn-gray" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features</a>
                    <a class="btn-gray" asp-controller="Contact" asp-action="Index">Contact</a>
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignIn">Sign in</a>
                    <a class="btn-gray" asp-controller="Auth" asp-action="SignUp">Sign up</a>
                </nav>
            </div>
        }

    </div>
</header>