@using Infrastructure.Models;
@model ContactRegistrationViewModel

<h2>Get In Contact With Us</h2>
<form method="post" asp-controller="Contact" asp-action="ContactServiceForm" novalidate>
    <label asp-for="FullName"></label>
    <span asp-validation-for="FullName"></span>
    <input asp-for="FullName" name="FullName" />

    <label asp-for="EmailAddress"></label>
    <span asp-validation-for="EmailAddress"></span>
    <input asp-for="EmailAddress" name="EmailAddress" />

    <label asp-for="SelectedService">Select a service:</label>
    <select asp-for="SelectedService">
        <option value="Order">Order</option>
        <option value="Support">Support</option>
    </select>

    <label asp-for="Message"></label>
    <span asp-validation-for="Message"></span>
    <input asp-for="Message" name="Message" />

    <button type="submit" class="btn-theme">Send Contact Request</button>
</form>
@await Html.PartialAsync("/Views/Shared/_ValidationScript.cshtml")