<section class="subscribe">
    <div class="container">
        <div class="section-title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="Images/subscribe-img.svg" alt="">
        </div>
        <div class="signup-content">
            <h5>Sign up for Newsletters</h5>
            <div class="checkbox-content">

                <div id="ch-b" class="ch-b1">
                    <input type="checkbox" name="ch-b1">
                    <label for="ch-b1">Daily Newsletter</label>
                </div>

                <div id="ch-b" class="ch-b2">
                    <input type="checkbox" name="ch-b2">
                    <label for="ch-b2">Advertising Updates</label>
                </div>

                <div id="ch-b" class="ch-b3">
                    <input type="checkbox" name="ch-b3">
                    <label for="ch-b3">Week in Review</label>
                </div>

                <div id="ch-b" class="ch-b4">
                    <input type="checkbox" name="ch-b4">
                    <label for="ch-b4">Event Updates</label>
                </div>

                <div id="ch-b" class="ch-b5">
                    <input type="checkbox" name="ch-b5">
                    <label for="ch-b5">Startups Weekly</label>
                </div>

                <div id="ch-b" class="ch-b6">
                    <input type="checkbox" name="ch-b6">
                    <label for="ch-b6">Podcasts</label>
                </div>

            </div>
        </div>
        <div>
            <div class="signup-email">
                <input type="text" placeholder="Your Email">
                <button class="btn-theme">Subscribe *</button>
            </div>
            <p>* Yes, I agree to the terms and privacy policy.</p>
        </div>

    </div>
</section>