<section class="benefits">
    <div class="container">

        <div class="section-title">
            <h2>What Do You Get with Our Tool?</h2>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>

        <div class="benefits-f-2">
            <div id="b-box" class="comments-on-tasks">
                <a href="#">
                    <img src="images/chat.svg" alt="icon of chat bubble">
                    <h6>Comments on Tasks</h6>
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </a>
            </div>
            <div id="b-box" class="notifications">
                <a href="#">
                    <img src="images/bell.svg" alt="icon of a bell">
                    <h6>Notifications</h6>
                    <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                </a>
            </div>
        </div>

        <div class="benefits-s-2">
            <div id="b-box" class="tasks-analytics">
                <a href="#">
                    <img src="images/presentation.svg" alt="icon of a chart">
                    <h6>Tasks Analytics</h6>
                    <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                </a>
            </div>
            <div id="b-box" class="sections-subtasks">
                <a href="#">
                    <img src="images/test.svg" alt="icon of a check list">
                    <h6>Sections & Subtasks</h6>
                    <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                </a>
            </div>
        </div>

        <div class="benefits-t-2">
            <div id="b-box" class="multiple-assignees">
                <a href="#">
                    <img src="images/add-group.svg" alt="icon of a group">
                    <h6>Multiple Assignees</h6>
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </a>
            </div>
            <div id="b-box" class="data-security">
                <a href="#">
                    <img src="images/shield.svg" alt="icon of a shield">
                    <h6>Data Security</h6>
                    <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                </a>
            </div>
        </div>
    </div>
</section>